{% extends "base.html" %}

{% load socialaccount %}

{% block body %}
<div class="content">
    <h1>KQB Ladder</h1>
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }} !!!</p>
    {% else %}
    <p>
        <a href="{% provider_login_url 'discord' %}" class="btn btn-primary">Sign Up</a>
    </p>
    {% endif %}

    {% for league in league_list %}
        <h2>{{ league }}</h2>
        {% for team in league.teams.all %}
            <p> <strong>#{{ team.ladder_rank }}</strong> {{ team.name }} </p>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
